
# Ecommerce Purchases Analysis

In this Exercise you will be given some Fake Data about some purchases done through Amazon!

# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing Dataset

In [2]:
df = pd.read_csv("Ecommerce Purchases.csv")

**Check the head of the DataFrame.**

In [3]:
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

# How many rows and columns are there?

In [4]:
df.shape

(10000, 14)

# What is the average Purchase Price?

In [5]:
df['Purchase Price'].mean()

50.347302

# What were the highest and lowest purchase prices?

In [6]:
df['Purchase Price'].max()

99.99

In [7]:
df['Purchase Price'].min()

0.0

# How many people have English 'en' as their Language of choice on the website?

In [8]:
df[df['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

# How many people have the job title of "Lawyer" ?

In [9]:
df[df['Job']=='Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

In [10]:
d = df[df['Job']=='Lawyer'].count()
d.info()

<class 'pandas.core.series.Series'>
Index: 14 entries, Address to Purchase Price
Series name: None
Non-Null Count  Dtype
--------------  -----
14 non-null     int64
dtypes: int64(1)
memory usage: 780.0+ bytes

# How many people made the purchase during the AM and how many people made the purchase during PM ? 

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [11]:
df['AM or PM'].value_counts()

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

# What are the 5 most common Job Titles?

In [12]:
d = df[['Job']]
d.value_counts().head()

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: count, dtype: int64

# Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [13]:
df[df['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

# What is the email of the person with the following Credit Card Number: 4926535242672853

In [14]:
df[df['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

# How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?

In [15]:
df[(df['CC Provider']=='American Express') & (df['Purchase Price'] > 95) ].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

# How many people have a credit card that expires in 2025?

In [16]:
c=0
q=[]
df['CC Exp Date'].apply(lambda x: q.append(1)  if x[3:]=='25' else x)

0       02/20
1       11/18
2       08/19
3       02/24
4        None
        ...
9995    03/22
9996     None
9997    05/21
9998    11/17
9999    02/19
Name: CC Exp Date, Length: 10000, dtype: object

In [17]:
len(q)

1033

#  What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)

In [47]:

d =pd.DataFrame(df['Email'].apply(lambda x: x.split('@')))

In [48]:
d['Email']=d['Email'].apply(lambda x:x[1])

In [52]:
d.value_counts().head()

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

In [46]:
df['Credit Card'].apply(lambda x:x)

0       6011929061123406
1       3337758169645356
2           675957666125
3       6011578504430710
4       6011456623207998
              ...
9995     342945015358701
9996     210033169205009
9997    6011539787356311
9998     180003348082930
9999    4139972901927273
Name: Credit Card, Length: 10000, dtype: int64

In [30]:
df[df['Credit Card']==6011929061123406]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14

In [61]:
df.sort_values(by=['Email'] , ascending = False)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
580,"4597 Patterson Loop Suite 481\nRobertsonview, ...",53 qv,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_2 like M...,"Trevino, Bradford and Gonzalez",4912891641434809,07/25,4,Maestro,zyoung@yahoo.com,"Scientist, research (physical sciences)",22.25.246.144,ru,62.63
9252,"7280 Brown Drive Apt. 826\nSouth Kevin, IN 17295",58 ak,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,Campbell-Jimenez,869941601902542,08/22,6881,VISA 16 digit,zyork@fischer-harrison.com,Haematologist,195.16.101.33,ru,78.21
5426,"0752 Savannah Bypass\nNorth Seanview, NH 28477...",15 Vr,PM,Opera/9.86.(X11; Linux i686; en-US) Presto/2.9...,"Anderson, Grant and Pratt",869955788266182,10/22,8681,JCB 16 digit,zwright@suarez.biz,"Merchandiser, retail",93.186.95.34,zh,13.69
177,"054 Hatfield Prairie Apt. 730\nClarkmouth, DE ...",33 IK,PM,Mozilla/5.0 (Windows NT 4.0; sl-SI; rv:1.9.0.2...,Braun-Floyd,6011784656657197,03/25,836,Mastercard,zwilson@yahoo.com,Chiropodist,167.84.198.199,el,99.72
8716,"5516 Selena Overpass\nJonesville, NJ 64059-9557",14 gq,PM,Mozilla/5.0 (compatible; MSIE 8.0; Windows CE;...,"Mcgrath, Alvarez and Edwards",30379166486540,04/22,66,JCB 16 digit,zwhite@nichols-willis.com,Computer games developer,117.224.21.158,it,22.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3603,"886 William Springs\nNorth Emily, CT 78435-3368",49 Ua,AM,Opera/8.83.(X11; Linux i686; it-IT) Presto/2.9...,"Alvarado, Jacobs and Mills",3096341113756412,11/21,500,JCB 16 digit,aandersen@gmail.com,Equities trader,42.82.105.171,el,13.31
1539,"582 Richardson Mountain\nWest Jessica, MI 68825",53 bV,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.7.20) G...,Lopez Group,6011626084980602,06/19,462,American Express,aalvarez@yahoo.com,Private music teacher,3.207.118.82,ru,73.83
2172,6989 Patterson Vista Suite 707\nNorth Brianber...,31 Sw,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8)...,Pena Inc,342760238691089,11/19,367,Discover,aallen@yahoo.com,Marine scientist,68.188.98.207,en,12.07
9236,"99182 Gregory Shoal\nAprilborough, CT 85908-4932",86 BR,PM,Mozilla/5.0 (compatible; MSIE 8.0; Windows CE;...,"Richardson, Marquez and Kane",4165673531924,11/19,542,VISA 16 digit,aacosta@maddox-mann.info,"Teacher, secondary school",191.175.119.122,zh,72.49
4696,"940 Jacob Crest\nWest Bethstad, NJ 66005-5326",64 of,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows 98;...,"Moore, Koch and Silva",5375779433229957,08/22,935,American Express,aabbott@hotmail.com,Equality and diversity officer,41.176.18.162,pt,3.55